version: "3.8"

services:
  api:
    build: ./api
    ports:
      - "3000:3000"
    env_file: .env.example
    depends_on:
      - rabbitmq

  consumer:
    build: ./consumer
    env_file: .env.example
    depends_on:
      - rabbitmq
      - mongo

  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"

  mongo:
    image: mongo
    ports:
      - "27017:27017"
